<main class="main">
  <app-header-layout />
  <h1>
    {{title.name}}
  </h1>
  <h1>
    {{title.password}}
  </h1>
  <h1>
    {{title.address.city}}
  </h1>
  <h1>
    {{title.address.district}}
  </h1>
  <button [disabled]="isDisable">Click me! [1]</button>
  <img [hidden]="isHidden" [src]="dataImg.scr" [alt]="dataImg.alt">
  <button (click)="show()">{{isHiddenMessage}} Image!</button>
  <button (click)="counter()">Click me! [2]</button>
  <h1>Click count: {{clickCount}}</h1>
  <div>
    <input [(ngModel)]="bindingMessage" type="text">
    <h1>{{bindingMessage}}</h1>
  </div>
</main>

<router-outlet />